body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  height: 100vh;
  background-color: #111;
  color: white;
}

.sidebar {
  width: 250px;
  background-color: #9700c5;
  padding: 20px;
  height: 100vh;
  position: fixed;
  color: rgb(255, 255, 255);
}

.header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar form {
  display: flex;
  flex-direction: column;
}

.sidebar label {
  margin: 10px 0 5px;
}

.sidebar input[type="text"],
.sidebar input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.sidebar button {
  padding: 10px;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.sidebar button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

.content-container {
  margin-left: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  margin-top: 100px;
}

h1 {
  margin-top: 50px;
}

/* Mengatur gaya dasar */

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: auto;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* pastikan teks ada di belakang form */
}

.highlighted-text {
  font-size: 80px;
  letter-spacing: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.highlighted-text .highlight {
  color: #00ffff; /* Warna highlight biru */
  text-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
  animation: glow 1.5s infinite alternate;
}

/* Animasi bercahaya */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
  100% {
    text-shadow: 0 0 40px #00ffff, 0 0 60px #00ffff, 0 0 80px #00ffff;
  }
}

.subtext {
  font-size: 20px;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out forwards;
  opacity: 0; /* Mulai dalam kondisi tidak terlihat */
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  color: #111;
  background-color: #00ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00cccc;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
