@font-face {
  font-family: "poppins1";
  src: url("../font/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins2";
  src: url("../font/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins3";
  src: url("../font/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins4";
  src: url("../font/Poppins-Black.ttf");
}

body {
  background-color: #ccc;
  color: #fff;
}

/*navbar*/
.navbar {
  background-color: #708090;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  border-bottom: 1px solid #a9a9a9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  font-family: "poppins4", sans-serif;
}

.navbar .navbar-logo span {
  color: #800000;
}

.navbar .navbar-menu a {
  color: #fff;
  font-size: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-family: "poppins2", sans-serif;
}

.navbar .navbar-menu a:hover {
  color: #191970;
}

.navbar .navbar-menu a:after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #191970;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-menu a:hover:after {
  transform: scaleX(0.5);
}

.navbar .navbar-icon a {
  color: #fff;
  margin: 0 0.5rem;
}

#btn-menu {
  display: none;
}

/*hero section*/
.hero {
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  position: absolute;
  top: 35%;
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  font-family: "poppins3", sans-serif;
}

.hero .content h1 span {
  color: #800000;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  font-family: "poppins2", sans-serif;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .btn {
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-family: "poppins2", sans-serif;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

#owl-nav .owl-prev,
#owl-nav .owl-next {
  position: absolute;
  top: 45%;
  z-index: 10;
  border: none;
  background-color: #01497c;
  color: #fff;
  outline: none;
  padding: 10px 25px;
  font-size: 15px;
}

#owl-nav .owl-prev {
  left: 0;
  border-radius: 0px 50px 50px 0px;
}

#owl-nav .owl-next {
  right: 0;
  border-radius: 50px 0px 0px 50px;
}

/*about*/
.about {
  padding: 0 0 50px;
  margin-top: 5rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.judul {
  font-family: "poppins3", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.3rem solid #800000;
  border-bottom-left-radius: 10px;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.judul span {
  color: #800000;
}

.about .about-img {
  flex: 1 1 45rem;
}

.about .about-img img {
  width: 100%;
}

.about .content h3 {
  font-size: 2rem;
}

.about .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6rem;
}

/*produk*/
.produk {
  padding: 0 0 50px;
  margin-top: 50px;
}

.produk .card {
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  margin-top: 1, 5rem;
}

.produk .content {
  text-align: center;
}

.produk .content h5,
.produk .content p {
  color: black;
  font-weight: 700;
}

/*responsive*/
/*untuk laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}
/*untuk tables*/
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
  /*ketika layar tables*/
  #btn-menu {
    display: inline-block;
  }
  .navbar .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-menu.active {
    right: 0;
  }

  .navbar .navbar-menu a {
    color: #191970;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-menu a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-menu a:hover::after {
    transform: scaleX(0.2);
  }

  /*hero*/
  .hero .content h1 {
    font-size: 3rem;
  }

  .hero .content p {
    font-size: 0.6rem;
  }

  .hero .content .btn {
    font-size: 0.6rem;
  }
}

/*untuk phone*/
@media (max-width: 450px) {
  html {
    font-size: 65%;
  }
}
